{{ define "main" }}
{{ partial "hero.html" . }}
{{ if .Site.GetPage "/about" }}{{ partial "about.html" . }}{{ end }}
{{ if .Site.GetPage "/skills" }}{{ partial "skills.html" . }}{{ end }}
{{ if .Site.GetPage "/portfolio" }}{{ partial "portfolio.html" . }}{{ end }}
{{ if .Site.GetPage "/experience" }}{{ partial "experience.html" . }}{{ end }}
{{ if .Site.GetPage "/technical" }}{{ partial "technical.html" . }}{{ end }}
{{ if .Site.GetPage "/testimonials" }}{{ partial "testimonials.html" . }}{{ end }}
{{ if .Site.GetPage "/contact" }}{{ partial "contact.html" . }}{{ end }}
{{ end }}